
@import "../design-tokens.scss";
@import "../mixins.scss";


.card--default{
    @include card_core();
    @include card(
        transparentize(map-get($theme, text, "color-low"), .4),
        map-get($theme, text, "color-border"),
        transparent
    );
}

.card--danger{
    @include card_core();
    @include card(
        transparentize(map-get($theme, text, "color-low"), .4),
        map-get($theme, state, "danger"),
        map-get($theme, state, "danger")
    );
}

.card--success{
    @include card_core();
    @include card(
        transparentize(map-get($theme, text, "color-low"), .6),
        map-get($theme, state, "success"),
        map-get($theme, state, "success")
    );
}

.card_header{
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
}
.card_body{
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    justify-content: flex-start;
    text-align: left;
}
.card-title{

}
.card-text{

}

.card_link{
    @include card(
        transparentize(map-get($theme, text, "color-low"), .4),
        map-get($theme, text, "color-border"),
        transparent
    );
    align-items: center;
    background: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: $border-radius-default;
    display: inline-flex;
    padding: $space-xxs $space-s;
    text-decoration: none;
    &:hover, &:focus{
        background-color: map-get($theme, text, "color-low" );
        border-color: map-get($theme, brand, "primary" );
    }
    &:focus{
        box-shadow: $focus-btn;
        outline: none;
    }
}

.card_link-title{
    color: map-get($theme, brand, "primary" );
}

.card_img{
    background: #ccc;
    margin: 0 $space-xxs 0 0;
    min-height: 3.5rem;
    min-width: 3.5rem;
}

.card_img--round{
    border-radius: 50%;
}

.card_img--lg{
    min-height: 5rem;
    min-width: 5rem;
}

.card-row{
    align-items: center !important;
    flex-direction: row !important;
}

// STYLE

.card_tag{
    background: transparentize(map-get($theme, text, "color-low"), .5);
    border-color: map-get($theme, text, "color-border-light");
    border-radius: $border-radius-card;
    position: relative;
    
    &::before, &::after{
        content: " ";
        display: block;
        border-color: map-get($theme, text, "color-border-light");
        border-style: solid;
        border-width: 1px 1px 1px 0;
        box-sizing: border-box;
        position: absolute;
    }
    &::before{
        background: map-get($theme, text, "color-border-light");
        border-left-color: map-get($theme, text, "color-border-light");
        border-left-width: 0;
        border-radius: 0 $border-radius-default $border-radius-default 0;
        box-sizing: border-box;
        height: 50%;
        left: -1px;
        top: 25%;
        width: .6rem;
        z-index: 1;
    }
    &::after{
        background: map-get($theme, text, "color-grey");
        border-radius: $border-radius-default;
        border: 0;
        bottom: 30%;
        height: 40%;
        left: .1rem;
        width: .2rem;
        z-index: 1;
    }
}
