
@import "../design-tokens.scss";
@import "../mixins.scss";

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.list--inline{
    display: flex;
    flex-direction: row;
}

.list--column{
    display: flex;
    flex-direction: column;
}

.list-item{
    align-items: stretch;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

    .list-item-checkbox{
        border-color: transparent;
        border-radius: $border-radius-default;
        border-style: solid;
        border-width: 1px;
        padding: $space-xxs;
        &:focus{
            box-shadow: $focus-btn;
            border-color: $brand-tertiary-base;
        }
    }

    .list-item-content{
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: flex-start;
    }

        .list-item-content-title{
            margin: 0;
            display: block;
            width: 100%;
        }
        .list-item-content-text{
            margin: 0;
            display: block;
            width: 100%;
        }

    .list-item-action{
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }





.list-table{
    margin: 0 $space-s;
}

.list--tree_round{
    margin: 0 0 0 $space-xxl;
    display: flex;
    flex-direction: column;
    position: relative;
}

    .list_item--tree_round{
        @include margin-x-base;
        align-items: center;
        display: flex;
        flex-direction: row;
        position: relative;

        &::before, &::after{
            content: " ";
            display: block;
            left: 0;
            position: absolute;
        }
        &::before{
            border-top: 0;
            border-right: 0;
            border-left: .125rem solid  map-get($theme, text, "color-grey");
            border-bottom: .125rem solid map-get($theme, text, "color-grey");
            border-radius: 0 0 0 1rem;
            box-sizing: content-box;
            height: 1rem;
            left: -1.25rem;
            top: calc(50% - 1rem);
            width: 1rem;
            z-index: 0;
        }
        &::after{
            background: map-get($theme, text, "color-grey");
            bottom: 0;
            top: 0;
            left: -1.25rem;
            width: .125rem;
            z-index: 0;
        }
        &:first-child{
            &::after{
                background: linear-gradient(to bottom, transparent 0%, map-get($theme, text, "color-grey") 10%);
            }
        }
        &:last-child{
            &::after{
                background: map-get($theme, text, "color-grey");
                bottom: calc(50% + 1rem);
                top: 0;
                left: -1.25rem;
                width: .125rem;
                z-index: 0;
            }
        }
    }

    
    .list_item_tree--sm{
        &::before{
            border-radius: 0 0 0 $space-xxs;
            height: $space-xxs;
            top: calc(50% - $space-xxs);
            width: $space-xxs;
        }
        &:last-child{
            &::after{
                bottom: calc(50% + $space-xxs);
            }
        }
    }