
@import "../design-tokens.scss";
@import "../mixins.scss";


//Style
.alert--default{
    @include alert(
                map-get($theme, text, "color-grey"), //border-color
                map-get($theme, text, "color-text"), //color-title
                map-get($theme, text, "color-text")  //color-text
            );
}
.alert--info{
    @include alert(
                map-get($theme, brand, "tertiary"), //border-color
                map-get($theme, brand, "primary"), //color-title
                map-get($theme, brand, "primary")  //color-text
            );
}
.alert--warning{
    @include alert(
                map-get($theme, state, "warning-hight"), //border-color
                map-get($theme, state, "warning-low"), //color-title
                map-get($theme, state, "warning-low")  //color-text
            );
}
.alert--success{
    @include alert(
                map-get($theme, state, "success"), //border-color
                map-get($theme, state, "success"), //color-title
                map-get($theme, state, "success")  //color-text
            );
}
.alert--danger{
    @include alert(
                map-get($theme, state, "danger"), //border-color
                map-get($theme, state, "danger"), //color-title
                map-get($theme, state, "danger")  //color-text
            );
}

//Size
.alert--xs{
    font-size: $font-size-sm;
    padding: $space-xxxxs $space-xxs;  // .125rem .5rem
}
.alert--lg{
    padding: $space-lg $space-xl;  // 1.25rem 1.5rem
}