
//VAR
$boxfield-input-height: 44px;

//Color
$grey-light: #999;
$grey: #464646;
$grey-border: #d7d7d7;
$grey-border-over: #c0c0c0;
$grey-disabled: #ebebeb;
$grey-border-focus: #aaa;
$grey-background: #f5f5f5;
$grey-step-bar: #f1f1f1;
$grey-separator: #e1e1e1;
$grey-input: #fafafa;
$grey-disabled: #ebebeb;
$white: #fff;

$neutral-100: #183039;
$neutral-90: #29444f;
$neutral-80: #3b555f;
$neutral-70: #4c646e;
$neutral-60: #60757e;
$neutral-50: #788992;
$neutral-40: #8d9ba2;
$neutral-30: #a5afb4;
$neutral-25: #bbc2c6;
$neutral-20: #dce0e2;
$neutral-15: #e5e8ea;
$neutral-10: #ecf1f3;
$neutral-5: #f4f7f8;
$neutral-0: #ffffff;

$dark-white: #f6f9fe;
$dark-less-white: #c0c9e3;
$dark-ultralight: hsl(223, 40%, 82%); /* #BFC9E3 */
$dark-lightest: hsl(223, 30%, 70%); /* #9CA9C9 */
$dark-lighter: hsl(223, 30%, 50%); /* #596FA6 */
$dark-light: hsl(223, 46%, 38%); /* #344E8D */
$dark: hsl(223, 46%, 24%); /* #213159 */
$darker: hsl(223, 46%, 17%); /* #17233F */
$darkest: hsl(223, 46%, 10%); /* #0e1425 */

$blue: hsl(196, 100%, 47%); /* #00b0f0 */
$sky: hsl(197, 90%, 70%); /* #6ed0f7 */
$sky-lighter: /*hsl(197, 90%, 75%)*/#9ce2fe;
$sky-lightest: hsl(197, 90%, 92%); /* #d8f3fd */
$sky-white: #f0fafe;


/*
  Blue
*/
$blue-deep: #458ee5;
$blue-darkest: #0056A4; /* 009DD6*/
$blue-darker: hsl(196, 100%, 42%); /* 009DD6*/
$blue: hsl(196, 100%, 47%); /* #00b0f0 */
$blue-lighter: hsl(196, 100%, 52%); /*  #0abeff */
$blue-lightest: hsl(196, 100%, 92%); /*D6F4FF*/

$sea: hsl(200, 100%, 39%);

$navy-darker: hsl(218, 54%, 20%); /*172C4F*/
$navy: hsl(218, 54%, 25%); /*1D3762*/
$navy-lighter: hsl(218, 54%, 30%); /*234176*/

$sky: hsl(197, 90%, 70%); /* #6ed0f7 */
$sky-lighter: /*hsl(197, 90%, 75%)*/#9ce2fe;
$sky-lightest: hsl(197, 90%, 92%); /* #d8f3fd */
$sky-white: #f0fafe;

$rocket-blue-base: #358cfb;



$red-darkest: #871b11;
$red-darker-fade: hsl(5, 75%, 42%); /*BB281B*/
$red-darker: hsl(5, 75%, 55%); /*E24536*/
$red: hsl(5, 75%, 60%); /* #e6594d */
$red-lighter: hsl(5, 75%, 65%);
$red-lightish: #ffcfca;
$red-lightest: hsl(5, 75%, 92%); /* #FADEDB */

//Size - Margin - Font
$margin-tiny: 7px;
$margin-small: 15px;
$margin-standard: 30px;
$margin-big: 45px;
$margin-bigger: 60px;
$margin-biggest: 120px;

$font-smaller: 12px;
$font-small: 14.1px;
$font-standard: 16px;
$font-big: 18px;
$font-bigger: 24px;
$font-biggest: 32px;
$font-kraken: 40px;

$border-radius: 3px;
$input-height: 44px;



$minwidth: 990px;

$stepWidth: 64px;

$footer-height: 54px;

$modal-head-height: 70px;

$modalhead-secundary: 67px;

$trial-bar-height: 44px;

$supervision-height: 57px;

$input-height: 2.4rem;