
@import "../design-tokens.scss";

.debug{
    border: 1px solid red !important;
}
@mixin debug{
    border: 1px solid red !important;
}

.debug2{
    border: 1px dashed green !important;
}
@mixin debug2{
    border: 1px dashed green !important;
}

.sr-only{
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}

.d-none{
    display: none !important;
}
.d-flex{
    display: flex !important;
}
.d-inline-flex{
    display: inline-flex !important;
}

.d-block{
    display: block !important;
}
.d-inline{
    display: inline !important;
}
.d-inline-block{
    display: inline-block !important;
}

.flex-column{
    flex-direction: column !important;
}
.flex-row{
    flex-direction: row !important;
}

.justify-content-between{
    justify-content: space-between !important;
}

.center-flex{
    align-items: center;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}
    @mixin center-flex {
        align-items: center;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
    }

//MARGIN

.margin-reset{
    margin: 0 !important;
}
.margin-x-base{
    margin: 0 $space-base !important;
}
    @mixin margin-x-base {
        margin: 0 $space-base !important;
    }

.margin-y-base{
    margin: $space-base 0 !important;
}
    @mixin margin-y-base {
        margin: $space-base 0 !important;
    }

.margin-x-xl{
    margin: 0 $space-xl !important;
}
.margin-y-xl{
    margin: $space-xl 0 !important;
}

//PADDING
.padding-reset{
    padding: 0 !important;
}

.padding-x-base{
    padding: 0 $space-base;
}
    @mixin padding-y-base {
        padding: $space-base 0 !important;
    }

.padding-y-base{
    padding: $space-base 0;
}
    @mixin padding-y-base {
        padding: $space-base 0 !important;
    }

.padding-x-xl{
    padding: 0 $space-xl;
}
.padding-y-xl{
    padding: $space-xl 0;
}

//WIDHT
.w-100{
    width: 100% !important;
}
.w-75{
    width: 75% !important;
}
.w-66{
    width: 66.667% !important;
}
.w-50{
    width: 50% !important;
}
.w-33{
    width: 33.334% !important;
}
.w-25{
    width: 25% !important;
}