@import "../design-tokens.scss";
@import "../mixins.scss";

.switch{
  align-items: center;
  border-radius: $border-radius-sm;
  cursor: pointer;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: $space-xxxs $space-xxs;

  &:hover,
  &:focus{

    .switch_state{
      background-color: map-get($theme, text, "color-border");
      border-color: map-get($theme, brand, "primary");
    }
  }
  &:focus{
    box-shadow: $focus-btn;
    border: 0;
    cursor: pointer;
    outline: none;
  }
}
  
  
  .switch_state{
      background: map-get($theme, text, "color-border-light");
      border-color: map-get($theme, text, "color-border");
      border-style: solid;
      border-width: 1px;
      box-sizing: content-box;
      border-radius: 50px;
      float: left;
      height: 1.25rem;
      margin-right: $space-xxs;
      min-width: 2.75rem;
      padding: .2rem;
      position: relative;
      transition: all $transition-faster ease;
  }

    .switch_state_toggle{
      background: map-get($theme, text, "color-title");
      border-radius: 50%;
      display: block;
      height: $space-lg;
      left: 0;
      position: relative;
      transition: all $transition-faster ease;
      top: 0;
      width: $space-lg;
      z-index: 1;
    }

    .switch_state_input{
      display: block;
      opacity: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      &:checked + .switch_state_toggle{
        background: #fff;
        left: $space-xl;
      }
    }

  .switch_label{
    color: map-get($theme, text, "grey");
    font-weight: 400;
    font-size: $font-size-base;
    padding-left: 0;
  }


  .switch--checked{
    
      .switch_state{
        border-color: map-get($theme, brand, "primary");
        &::before{
          background-color: map-get($theme, brand, "primary");
        }
        
        &::after{
          background-color: map-get($theme, brand, "primary");
          content: "";
          left: .25rem;
          line-height: .85rem;
          right: auto;
        }
      }
  
      .switch_label{
        color: map-get($theme, text, "color-hight");
      }
  
      &:hover,
      &:focus{
  
        .switch_state{
          background-color: map-get($theme, brand, "primary-hight");
        }
      }
    }
  
    .switch--disabled{
      cursor: default;
  
      .switch_state{
        background: map-get($theme, text, "color-border");
        border-color: map-get($theme, text, "color-low");
        cursor: default;
      }
      .switch_state_toggle{
        background: map-get($theme, text, "color-low");
        cursor: default;
      }
  
      .switch_label{
        color: map-get($theme, text, "color-text-light");
        cursor: default;
      }
  
      &:hover,
      &:focus{
        box-shadow: none;
  
        .switch_state{
          background: map-get($theme, text, "color-border");
          border-color: map-get($theme, text, "color-low");
        }
      }
    }
  