@mixin button-circle ($width, $height){
    align-items: center;
    border-radius: 50%;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    width: $width;
    height: $height;
}

@mixin button-round ($width, $height: $width){
    @include center-flex;
    border-radius: $border-radius-button;
    min-width: $width;
    min-height: $height;
}


@mixin button (
    $color-background-button,
    $color-border-button,
    $color-text-button,
    $color-background-button-hover,
    $color-border-button-hover,
    $color-text-button-hover,
    $color-shadow-button-focus,
    ){
    background: $color-background-button;
    border-color: $color-border-button;
    border-radius: $border-radius-button;
    color: $color-text-button;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-base;
    line-height: $line-height-base;
    padding: $space-xxs $space-base;
    position: relative;
    text-align: center;
    &:hover, &:focus{
        background: $color-background-button-hover;
        border-color: $color-border-button-hover;
        color: $color-text-button-hover;
    }
    &:focus{
        box-shadow: $color-shadow-button-focus;
        outline: none;
    }
}



@mixin button-xs {
    font-size: $font-size-sm;
    padding: calc($space-xxxs / 2) $space-xxs;
}
@mixin button-sm {
    font-size: $font-size-sm;
    padding: $space-xxxs $space-xs;
}
@mixin button-md {
    font-size: $font-size-base;
    padding: $space-xxs $space-base;
}
@mixin button-lg {
    font-size: $font-size-lg;
    padding: $space-xs $space-xl;
}